@using UELWeb2Hasako.Models
@model List<Giohang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<h2 style="text-align:center">Thong tin gio hang</h2>
<table align="center" border="1"> 
    <tr style="text-align:center; font-weight:bold">
        <td>Ma hang</td>
        <td>Ten hang</td>
        <td>Anh bia</td>
        <td>So luong</td>
        <td>Don gia</td>
        <td>Thanh tien</td>
    </tr>
    @foreach(var item in Model)
    {
<tr style="text-align:center;font-weight:bold">
    <td>@item.iMahaisan</td>
    <td>@item.sTenhaisan</td>
    <td><img src="~/images/@item.sAnhbia" /></td>
    <td>@item.iSoluong</td>
    <td>@String.Format("{0:0:0}", item.dDongia)</td>
    <td>@String.Format("{0:0:0}", item.dThanhtien)</td>

</tr>
    }
    <tr style="font-weight:bold;text-align:right;color:red">
        <td colspan="3">Số lượng sách: @ViewBag.Tongsoluong</td>
        <td colspan="3">Tổng tiền: @String.Format("{0:0:0}",ViewBag.Tongtien) VND</td>
    </tr>
</table>