<<<<<<< HEAD
﻿<!DOCTYPE html>

<html>
<head>
    <style>

    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Hasako</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/plugins/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Trang chủ</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Liên hệ</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/images/pexels-photo-842567.jpeg" alt="User Avatar" class="img-size-50 mr-3 img-circle" style="width:50px;height:50px">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Benjamin Franklin
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Hãy gọi tôi khi có thể...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Tiếng Trước</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/images/side-view-business-man-checking-clipboard_23-2148479571.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3" style="width:50px;height:50px">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nicholas Clarke
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Nhắn tin cho tôi sớm nhé</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 5 Tiếng Trước</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/images/happy-young-businesswoman-holding-folder-standing-front-building_23-2148026710.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3 " style="width:50px;height:50px">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Chị muốn liên hệ bên em để kinh...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 5 Tiếng Trước</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">Hiển Thị Tất Cả</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Thông báo mơi</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 tin nhắn mới
                            <span class="float-right text-muted text-sm">3 phút</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 lời mời kết bạn mới
                            <span class="float-right text-muted text-sm">12 tiếng</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 báo cáo mới
                            <span class="float-right text-muted text-sm">2 ngày</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">Hiển Thị Tất Cả</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/images/hasakologowhite_noword.png" alt="Hasako Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light"> <b>Hasako ENT</b></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/images/ong-pham-mitchell-1541574461.jpeg" class="img-circle elevation-2" alt="User Image" style="width:30px;height:30px">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Nguyễn Bá Luân</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-header">TRANG DASHBOARD & THỐNG KÊ</li>
                        <li class="nav-item">
                            <a href="@Url.Action("IndexAdmin", null, new { area = string.Empty, controller = "Admin" },@Request.Url.Scheme )" class="nav-link active">
                                <img src="~/images/dashboard (1).png" style="width:19.81px;height:20.3px;margin:3.2px"/>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("ThongKe", null, new { area = string.Empty, controller = "Admin" },@Request.Url.Scheme )" class="nav-link">
                                <img src="~/images/magnifying-glass.png" style="width:17.3px;height:18.3px;margin:3.2px" />
                                <p>
                                    Thống kê
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">TRANG QUẢN LÝ</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="~/images/menu.png" style="width:18.3px;height:17px;margin:3.2px" />
                                <p>
                                    Danh mục
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="~/images/product.png" style="width:20.3px;height:19px;margin:3.2px" />
                                <p>
                                   Sản phẩm
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="~/images/order.png" style="width:20.3px;height:19px;margin:3.2px" />
                                <p>
                                   Đơn hàng
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="~/images/people.png" style="width:19.81px;height:18.3px;margin:3.2px" />
                                <p>
                                   Người dùng
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">ĐĂNG XUẤT</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <img src="~/images/logout.png" style="width:19.81px;height:18.3px;margin:3.2px" />
                                <p>
                                    Đăng xuất
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <div>@RenderBody()</div>
  
        <footer class="main-footer">
            <strong>Copyright &copy; 2019-20 <a href="#">Hasako</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
               
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
  
    <!-- jQuery -->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Scripts/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Scripts/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Scripts/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Scripts/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Scripts/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Scripts/moment/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Scripts/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Scripts/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Scripts/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Scripts/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/js/demo.js"></script>
</body>
</html>
||||||| e1c2a08
=======
﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap4/bootstrap.min.css">
    <link href="../plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="../plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.css">

    <!--Index styles-->
    <link rel="stylesheet" type="text/css" href="../Content/main_styles.css">
    <link rel="stylesheet" type="text/css" href="../Content/responsive.css">
    <!--Shop styles-->
    <link rel="stylesheet" type="text/css" href="../Content/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="../Content/shop_responsive.css">
    <!--Product styles-->
    <link rel="stylesheet" type="text/css" href="../Content/product_styles.css">
    <link rel="stylesheet" type="text/css" href="../Content/product_responsive.css">
    <!--Cart styles-->
    <link rel="stylesheet" type="text/css" href="../Content/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="../Content/cart_responsive.css">
    <!--Blog styles-->
    <link rel="stylesheet" type="text/css" href="../Content/blog_styles.css">
    <link rel="stylesheet" type="text/css" href="../Content/blog_responsive.css">
    <!--Single blog styles-->
    <link rel="stylesheet" type="text/css" href="../Content/blog_single_styles.css">
    <link rel="stylesheet" type="text/css" href="../Content/blog_single_responsive.css">
    <!--Contact styles-->
    <link rel="stylesheet" type="text/css" href="../Content/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="../Content/contact_responsive.css">
    <!--Regular styles-->
    <link rel="stylesheet" type="text/css" href="../Content/regular_styles.css">
    <link rel="stylesheet" type="text/css" href="../Content/regular_responsive.css">
</head>
<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->

            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/phone.png" alt=""></div>+84 8100 1009 (IT)</div>
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/mail.png" alt=""></div><a href="mailto:IT@hasako.com">IT@hasako.com</a></div>
                            <div class="top_bar_content ml-auto">
                                <div class="top_bar_menu">
                                    <ul class="standard_dropdown top_bar_dropdown">
                                        <li>
                                            <a href="#">Tiếng Việt<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">English</a></li>
                                                <li><a href="#">Spanish</a></li>
                                                <li><a href="#">German</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">VNĐ<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">$ US Dollars</a></li>
                                                <li><a href="#">EUR Euro</a></li>
                                                <li><a href="#">GBP British Pound</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="top_bar_user">
                                    <div class="user_icon"><img src="../images/user.svg" alt=""></div>
                                    <div><a href="@Url.Action("Dangky", null, new { area = string.Empty, controller = "Nguoidung" },@Request.Url.Scheme )"><span>Đăng ký</span></a></div>
                                    <div><a href="@Url.Action("Dangnhap", null, new { area = string.Empty, controller = "Nguoidung" },@Request.Url.Scheme )">Đăng nhập</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Main -->

            <div class="header_main">
                <div class="container">
                    <div class="row">

                        <!-- Logo -->
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="logo_container">
                                <div class="logo"><a href="#">OneTech</a></div>
                            </div>
                        </div>

                        <!-- Search -->
                        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                            <div class="header_search">
                                <div class="header_search_content">
                                    <div class="header_search_form_container">
                                        <form action="#" class="header_search_form clearfix">
                                            <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                                            <div class="custom_dropdown">
                                                <div class="custom_dropdown_list">
                                                    <span class="custom_dropdown_placeholder clc">All Categories</span>
                                                    <i class="fas fa-chevron-down"></i>
                                                    <ul class="custom_list clc">
                                                        <li><a class="clc" href="#">All Categories</a></li>
                                                        <li><a class="clc" href="#">Computers</a></li>
                                                        <li><a class="clc" href="#">Laptops</a></li>
                                                        <li><a class="clc" href="#">Cameras</a></li>
                                                        <li><a class="clc" href="#">Hardware</a></li>
                                                        <li><a class="clc" href="#">Smartphones</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <button type="submit" class="header_search_button trans_300" value="Submit"><img src="images/search.png" alt=""></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Wishlist -->
                        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                    <div class="wishlist_icon"><img src="images/heart.png" alt=""></div>
                                    <div class="wishlist_content">
                                        <div class="wishlist_text"><a href="#">Wishlist</a></div>
                                        <div class="wishlist_count">115</div>
                                    </div>
                                </div>

                                <!-- Cart -->
                                <div class="cart">
                                    <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                        <div class="cart_icon">
                                            <img src="images/cart.png" alt="">
                                            <div class="cart_count"><span>10</span></div>
                                        </div>
                                        <div class="cart_content">
                                            <div class="cart_text"><a href="#">Cart</a></div>
                                            <div class="cart_price">$85</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="main_nav_content d-flex flex-row">

                                <!-- Categories Menu -->

                                <div class="cat_menu_container">
                                    <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                        <div class="cat_burger"><span></span><span></span><span></span></div>
                                        <div class="cat_menu_text">danh mục</div>
                                    </div>

                                    <ul class="cat_menu">
                                        <li class="hassubs">
                                            <a href="#">Cá<i class="fas fa-chevron-right"></i></a>
                                            <ul>
                                                <!--<li class="hassubs">
                                                    <a href="#">Menu Item<i class="fas fa-chevron-right"></i></a>
                                                    <ul>
                                                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                                                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                                                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                                                        <li><a href="#">Menu Item<i class="fas fa-chevron-right"></i></a></li>
                                                    </ul>
                                                </li>-->
                                                <li><a href="#">Cá khô<i class="fas fa-chevron-right"></i></a></li>
                                                <li><a href="#">Cá một nắng<i class="fas fa-chevron-right"></i></a></li>
                                            </ul>
                                        </li>
                                        <li class="hassubs">
                                            <a href="#">Mực<i class="fas fa-chevron-right"></i></a>
                                            <ul>
                                                <li><a href="#">Mực khô<i class="fas fa-chevron-right"></i></a></li>
                                                <li><a href="#">Mực một nắng<i class="fas fa-chevron-right"></i></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Tôm khô<i class="fas fa-chevron-right"></i></a></li>
                                        <li><a href="#">Sò khô <i class="fas fa-chevron-right"></i></a></li>
                                        <li><a href="#">Cá ngựa khô <i class="fas fa-chevron-right"></i></a></li>
                                        <li><a href="#">Sá sùng khô<i class="fas fa-chevron-right"></i></a></li>
                                        <li class="hassubs">
                                            <a href="#">Hải sâm/Bào ngư khô<i class="fas fa-chevron-right"></i></a>
                                            <ul>
                                                <li><a href="#">Hải sâm khô<i class="fas fa-chevron-right"></i></a></li>
                                                <li><a href="#">Bào ngư khô<i class="fas fa-chevron-right"></i></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Hải sản chế biến<i class="fas fa-chevron-right"></i></a></li>
                                    </ul>
                                </div>

                                <!-- Main Nav Menu -->

                                <div class="main_nav_menu ml-auto">
                                    <ul class="standard_dropdown main_nav_dropdown">
                                        <li><a href="#">Trang chủ<i class="fas fa-chevron-down"></i></a></li>
                                        <li class="hassubs">
                                            <a href="#">Khuyến mãi Sốc<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li>
                                                    <a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                                                    <ul>
                                                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Cửa hàng<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="contact.html">Liên hệ<i class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </div>

                                <!-- Menu Trigger -->

                                <div class="menu_trigger_container ml-auto">
                                    <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                        <div class="menu_burger">
                                            <div class="menu_trigger_text">menu</div>
                                            <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Menu -->

            <div class="page_menu">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="page_menu_content">

                                <div class="page_menu_search">
                                    <form action="#">
                                        <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
                                    </form>
                                </div>
                                <ul class="page_menu_nav">
                                    <li class="page_menu_item has-children">
                                        <a href="#">Language<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item has-children">
                                        <a href="#">Currency<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item">
                                        <a href="index.html">Home<i class="fa fa-angle-down"></i></a>
                                    </li>
                                    <li class="page_menu_item has-children">
                                        <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
                                            <li class="page_menu_item has-children">
                                                <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
                                                <ul class="page_menu_selection">
                                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item has-children">
                                        <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item has-children">
                                        <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item"><a href="#">blog<i class="fa fa-angle-down"></i></a></li>
                                    <li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
                                </ul>

                                <div class="menu_contact">
                                    <div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570</div>
                                    <div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div>@RenderBody()</div>


    
        <!--Footer đã sửa-->
        <footer class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column footer_contact">
                            <div class="logo_container">
                                <div class="logo"><a href="#">HaSaKo</a></div>
                            </div>
                            <div class="footer_title">Cần hỗ trợ? Gọi chúng tôi 24/7</div>
                            <div class="footer_phone">+84 8100 1008</div>
                            <div class="footer_contact_text">
                                <p>659 QL1A, P. Linh Xuân, Q. Thủ Đức</p>
                                <p>TP. HCM, Việt Nam</p>
                            </div>
                            <div class="footer_social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 offset-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Tìm kiếm Nhanh</div>
                            <ul class="footer_list">
                                <li><a href="#">Cá khô</a></li>
                                <li><a href="#">Vi cá khô</a></li>
                                <li><a href="#">Mực khô</a></li>
                                <li><a href="#">Mực dẻo</a></li>
                                <li><a href="#">Tôm</a></li>
                            </ul>
                            <!--div class="footer_subtitle">Gadgets</!--div>-->
                            <ul class="footer_list">
                                <li><a href="#">Bạch tuộc</a></li>
                                <li><a href="#">Bào ngư</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Chuyển trang</div>
                            <ul class="footer_list footer_list_2">
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Cửa hàng</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Bạn cần gì?</div>
                            <ul class="footer_list">
                                <li><a href="#">Tài khoản của tôi</a></li>
                                <li><a href="#">Đơn hàng của tôi</a></li>
                                <li><a href="#">Danh sách yêu thích</a></li>
                                <li><a href="#">Dịch vụ CSKH</a></li>
                                <li><a href="#">Dịch vụ Đổi trả</a></li>
                                <li><a href="#">Hỏi đáp</a></li>
                                <li><a href="#">Hỗ trợ sản phẩm</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer>


    </div>

    <!--Scripts chung-->
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Content/bootstrap4/popper.js"></script>
    <script src="../Content/bootstrap4/bootstrap.min.js"></script>
    <script src="../plugins/greensock/TweenMax.min.js"></script>
    <script src="../plugins/greensock/TimelineMax.min.js"></script>
    <script src="../plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="../plugins/greensock/animation.gsap.min.js"></script>
    <script src="../plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="../plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="../plugins/parallax-js-master/parallax.min.js"></script>
    <script src="../plugins/easing/easing.js"></script>

    <!--Shop scripts-->
    <script src="../plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="../plugins/parallax-js-master/parallax.min.js"></script>
    <script src="../Scripts/shop_custom.js"></script>
    <!--Product scripts-->
    <script src="../Scripts/product_custom.js"></script>
    <!--Cart scripts-->
    <script src="../Scripts/cart_custom.js"></script>
    <!--Blog scripts-->
    <script src="../Scripts/blog_custom.js"></script>
    <!--Single blog scripts-->
    <script src="../Scripts/blog_single_custom.js"></script>
    <!--contact scripts-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script src="../Scripts/contact_custom.js"></script>
    <!--Regular scripts-->
    <script src="../Scripts/regular_custom.js"></script>

</body>

</html>
>>>>>>> refs/remotes/origin/master
